<!-- almost like html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voting Site</title>

    <!-- css links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- from firebase -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAbQgirSa2I2hBFrOxXqHmaQr5CbFVjAV8",
            authDomain: "voting-app-with-node.firebaseapp.com",
            databaseURL: "https://voting-app-with-node.firebaseio.com",
            projectId: "voting-app-with-node",
            storageBucket: "voting-app-with-node.appspot.com",
            messagingSenderId: "176510701920",
            appId: "1:176510701920:web:27ffabd9df455b2fa14e05",
            measurementId: "G-G0VS31BVPH"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
</head>

<body>
    <div class="container">
        <h1>Welcome to the voting app!</h1>
        <p>Add restaurant: <input id="addRestaurant" /></p>

        <button class="btn btn-primary" onclick={addRestaurant()}>Submit</button>

        <br><br>

        <div class="row">
            <% var keys = Object.keys(restaurants) %>
            <% keys.forEach((key) => { %>

            <% var allUsers%>
            <% if (restaurants[key].votes) { %>
            <% allUsers = Object.keys(restaurants[key].votes)  %>
            <% } else { %>
            <% allUsers = [] %>
            <% } %>

            <div class="col s6 m6 l6">
                <div class="card grey darken-2">
                    <div class="card-content white-text">
                        <span class="card-title"><%= restaurants[key].name %> </span>
                        <p>Votes: <%= allUsers.length %></p>
                    </div>
                    <div class="card-action">
                        <button onclick={upvote("<%= key %>")} class="btn"> Upvote <i
                                class="small material-icons">expand_less</i> </button>
                        <button onclick={downvote("<%= key %>")} class="btn"> Downvote <i
                                class="small material-icons">expand_more</i> </button>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

        <button class="btn btn-primary" id="google-signin" onclick={signInWithGoogle()}>
            Sign In With Google
        </button>
        <button class="btn btn-" id="signout" onclick={signOut()} style="display: none; visibility: hidden;">
            Sign Out
        </button>
    </div>

    <!-- all the script tags -->
    <script src="js/firebaseAuth.js"></script>
    <script src="js/firebaseVoting.js"></script>
</body>

</html>